In [11]:
import requests
import json
import gradio as gr
import time
import pandas as pd
from CSVCleaner import CSVCleaner

# API URL and headers for the language model
url = "http://localhost:11434/api/generate"
headers = {'Content-Type': 'application/json'}

# Conversation history for the language model
conversation_history = []



csv_data = pd.read_csv("../data/clean/12k_VERIFIED_CLEAN.csv")



# Function to filter the dataframe based on the selected column
def select_column(selected_column):
    return csv_data[[selected_column]]

def process_selection(selection):
    # Process the selected options
    return csv_data[selection]


process_selection(["company","company_city"])

                company             company_city
0              Glocomms                 New York
1               Reetain     Boulogne-Billancourt
2      Landing Partners                    Ghent
3                  Malt                    Paris
4         Agicap France                     Lyon
...                 ...                      ...
11814        Centris AG                Solothurn
11815          AYOMI.fr                    Paris
11816             OneUp            San Francisco
11817            UPRISE                      NaN
11818     Tiempo Secure  Montbonnot-Saint-Martin

[11819 rows x 2 columns]